<div class="container">



<div class="jumbotron">
  <h1>Trigger Point - Tutorial</h1>
  <p>A guide to self-treatment for pain.</p>
    <button type="button" class="btn btn-default"><%= link_to "Search By Muscle", muscles_path %></button>
    <button type="button" class="btn btn-default"><%= link_to "Search By Symptom", symptoms_path %></button>

   
</div>



    
</div>